* {
    box-sizing: border-box;
  }
  
  body{
    margin: 100px 80px;
    text-align: center;
    font-family: poppins, monesta;
    font-size: 18 px;
    font-kerning: normal;
  }
  
  header, main{
    margin: 8%;
    text-align:center;
    text-align-last: center;
  
  }
  
  .flex-container{
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  /* .grid-container{
  
    display: grid;
    
  } */
  

  h1{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: monesta;
    font-weight:bold;
    font-size: 41px;
    margin: 10px;
    padding: auto;
    max-width: 80ch;
  }
  
  h3{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: monesta;
    font-weight:normal;
    font-size: 30px;
    margin: 8px;
    padding: auto;
    max-width: 80ch;
    
  }

  .subhead{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: monesta;
    font-weight:normal;
    font-size: 22px;
    padding: auto;
    max-width: 80ch;
    
  }

  /*h4{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 5px;
    padding: auto;
    font-weight: lighter;
    max-width: 80ch;
  }*/

  h5{
    font-weight:normal;
    margin: 0px auto 24px;
    max-width: 80ch;
  }

  p{
    max-width: 80ch;
    text-align: center;
    margin: 15px 100px;
  }

  .card{
  
    width: 700px;
    height: auto;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px rgba(0, 0, 0, 10) solid;
    margin: 8px;
    text-align: center;
    
  } 

  .card1{
    width: 600px;
    height: auto; 
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px rgba(0, 0, 0, 10) solid;
    margin: 8px;
    text-align: center;
    
  } 

  .proto{
  
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0.2px;
    
  } 

  footer{

    text-align: center;
    margin:10px 100px;

  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  .grid-item {
    height: 180px;
    width: fit-content;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: 0.2px rgba(240, 240, 240, 10) solid;
    margin: 8px;
    text-align: center;
  }

.lin{
    width: 23%;
    margin-left: auto;
    margin-right: auto;
   
}

/*nav{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background-color: rgb(235, 235, 235);

}*/

#navbar {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;

}

#navbar a {
  float:left;
  color: #000;
  text-align:center;
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  display: block;
  /* width: 8.34%; */
}

#navbar a:hover {
  background-color: rgb(224, 224, 224);
  color: black;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#navbar a.active {
  background-color: #d3d3d398;
  color: #000;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 7%;
  right: 7%;
  width: 87%;
  z-index: 1;
  padding-top: 10px;
}

.sticky + .content {
  padding-top: 60px;
  z-index: 1;
}